@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 10px;
  font-family: var(--font);
}
:root {
  --font: "Poppins", sans-serif;
  --background: #fffffd;
  --following-color: #128454;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 1.5% 22%;
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 10px;
  flex-grow: 1;
}
.title-img {
  background: url("../assets/Ma-2-logo.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  border-radius: 10px;
}
.profile-img {
  position: relative;
  content: "";
}
.img {
  display: block;
  margin: auto;
  position: absolute;
  top: -10rem;
  left: 3rem;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 0.5rem;
  background-color: var(--background);
}
.profile-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 4% 0 0 0%;
  gap: 20px;
  align-items: center;
}

.userName {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-family: var(--font);
  font-size: 3rem;
  font-weight: 600;
  gap: 0.5rem;
}
.bluetick-img {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bluetick {
  width: 30px;
}
.Follow-Btn {
  background-color: transparent;
  border: 1px solid var(--following-color);
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--following-color);
  border-radius: 8px;
}
.email {
  font-size: 1.5rem;
  font-family: var(--font);
  color: rgb(128, 126, 126);
}
hr {
  margin: 1% 0%;
}
.aboutUs {
  font-family: var(--font);
  font-size: 2.5rem;
  font-weight: 500;
  color: #41423d;
}
.About-description {
  font-family: var(--font);
  font-size: 1.4rem;
  color: #6e6e6e;
}
.social-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(108, 108, 108);
}
.social-media {
  display: flex;
  flex-direction: row;
  margin: 2% 0%;
  gap: 11px;
}
.skill-project-review-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.project,
.skills,
.resume,
.contact,
.internship {
  font-family: var(--font);
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: rgb(6, 32, 76);
  padding: 0.5rem;
  transition: all 0.2s ease-in;
}

.skills:hover {
  color: #aaaba8;
}
.project:hover {
  color: #aaaba8;
}

.contact:hover {
  color: #aaaba8;
}
.internship:hover {
  color: #aaaba8;
}
.resume:hover {
  color: #aaaba8;
}
.resume-link {
  text-decoration: none;
  color: rgb(6, 32, 76);
}
.resume-link:hover {
  color: #aaaba8;
}

.showSkill,
.showProject,
.showBackground,
.showInternship {
  margin: 1.5% 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  height: 400px;
}

.skillsheading,
.projectheading,
.backgroundheading,
.internshipheading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.skill-title,
.project-title,
.background-title,
.internship-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.web-app-dev-section,
.programming-development-section,
.database-section,
.version-control-section,
.tools-section {
  border: 2px solid green;
  padding: 1rem;
  border-radius: 10px;
}

.web-app-title,
.programming-title,
.database-title,
.version-title,
.tools-title {
  color: #575850;
  font-size: 2.5rem;
}

.web-app-dev-description,
.programming-development-description,
.database-description,
.version-control-description,
.tools-description {
  font-size: 1.9rem;
}

.fresh-cart-com,
.weather-com,
.crud-com,
.st-joseph-com,
.koral-com,
.Login-com,
.todo-com {
  border: 2px solid green;
  padding: 1rem;
  border-radius: 10px;
}

.fresh-cart-title,
.weather-title,
.crud-title,
.st-joseph-title,
.koral-title,
.Login-title,
.todo-title {
  color: #575850;
  font-size: 2.5rem;
}
.fresh-cart-description,
.weather-description,
.crud-description,
.st-joseph-description,
.koral-description,
.Login-description,
.todo-description {
  font-size: 1.9rem;
}

.fresh-cart-btn,
.weather-btn,
.crud-btn,
.st-joseph-btn,
.koral-btn,
.Login-btn,
.todo-btn {
  margin: 1% 0;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

.fresh-cart-link,
.weather-link,
.crud-link,
.st-joseph-link,
.koral-link,
.Login-link,
.todo-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.codecTechnologies,
.background-section,
.education-section,
.professional-section,
.extra-curiculam-section,
.language-section {
  border: 2px solid green;
  padding: 1rem;
  border-radius: 10px;
}

.codec-title,
.background-title,
.education-title,
.professional-title,
.extra-curiculam-title,
.language-title {
  color: #575850;
  font-size: 2.5rem;
}

.codec-description,
.background-description,
.education-description,
.professional-description,
.extra-curiculam-description,
.language-description {
  font-size: 1.9rem;
}

.codec-btn {
  margin: 1% 0;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
}
.codec-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.copyright {
  margin: 0% 0% 2% 0;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
