@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
* {
cursor:pointer;
}
.playwrite {
   /* font-family: "Playfair Display", serif; */
font-family: "DM Serif Text", serif;  font-optical-sizing: auto;
}

.italic{
  font-family: "Playwrite GB J", cursive;

}

.h2-full-stack-developer::first-letter {
  font-size: 50px;
  color:  #76c4fc;
}

.animate{

  animation: animate infinite 5s linear;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
        transform: rotate(360deg);

  }
}

.GlowRotate{
  animation: rotate alternate 2s infinite;
}
@keyframes rotate{
    0%   { box-shadow: 2px 2px 50px hsl(210, 46%, 62%); transition: 2; }
  100% { box-shadow: 2px 2px 50px #34729f; transition: 2;}
}


body{
  background-image: url("../src/assets/start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}